#back-to-top {
  background: rgb(255, 82, 82);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
  border-radius: 50%;
  bottom: 20px;
  right: 20px;
  color: #fff;
  cursor: pointer;
  display: block;
  height: 56px;
  width: 56px;
  position: fixed;
  user-select: none;
  z-index: 999;

  opacity: 1;
  outline: 0;
  transition: bottom .2s, opacity .2s;
  
  -o-transition: bottom .2s, opacity .2s;
  -moz-transition: bottom .2s, opacity .2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-transition: bottom .2s, opacity .2s;
}


#back-to-top svg {
  display: block;
  fill: currentColor;
  height: 24px;
  margin: 16px auto 0;
  width: 24px;
}


