<script src="{{ "js/jquery.min.js" | absURL }}"></script>
<script src="{{ "js/jquerymigrate.js" | absURL }}"></script>
<script src="{{ "js/production.min.js" | absURL }}?v={{ now.Unix }}"></script>


<!-- add prism.js for code block style  -->
<script src="{{ "js/prism.js" | absURL }}"></script>

<!-- add medium-zoom JavaScript effect-->
<script src="{{ "js/medium-zoom.js" | absURL }}"></script>
<script src="{{ "js/wade_custom.js" | absURL }}"></script>

<!-- Just Font Test -->
<script src="//s3-ap-northeast-1.amazonaws.com/justfont-user-script/jf-63921.js"></script>